{% extends 'main_app/base.html'%}

{% block main %}
<h2>About Django Unlibbed</h2>
<div class="detail"> 
    <h3>Why?</h3>
    Django was way too libbed. Our goal as Pythonistas Unchained--to unlib him. 
    Our mission was to make a madlibs-style app based on the Django Unchained movie script.
    <br><br>
    <h3>Technology used</h3>
    This web app is built with Python, Django, PSQL, AWS, and Heroku. 
    <br><br>
    <h3>Reference</h3>
    Script source: <a href="https://www.imsdb.com/scripts/Django-Unchained.html"><i>DJANGO UNCHAINED</i> on IMSDB.COM</a>
</div>
<h2>About the Developers</h2>
<h2 class="dev-name">Joe Gerhard</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/sleepyjosus">SleepyJosus</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/joe-gerhard/">Joe Gerhard</a>
    <br><br>
    <h3>App tasks as 'Code Lord'</h3>
    <li>Github master</li>
    <li>Database</li>
    <li>Models, views, templates</li>
    <li>App logo</li>
</ul>

<h2 class="dev-name">Dev Govindji</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/Dev-94">Dev-94</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/joe-gerhard/">Dev Govindji</a>
    <br><br>
    <h3>App Tasks as 'Scrum Jefe'</h3>
    <li>Trello board</li>
    <li>API Research</li>
    <li>README</li>
    <li>Content creator</li>
</ul>

<h2 class="dev-name">Frances Cancio</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/fcancio">fcancio</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/francescancio/">Frances Cancio</a>
    <br><br>
    <h3>App tasks as 'Design Whisperer'</h3>
    <li>Pitch Deck</li>
    <li>CSS/Styling</li>
    <li>Content creator</li>
    <li>Team logo</li>
</ul>
{% endblock main %}