{% extends 'main_app/base.html'%}

{% block main %}
<h1>About Us</h1>
<h2 class="dev-name">Joe Gerhard</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/sleepyjosus">SleepyJosus</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/joe-gerhard/">Joe Gerhard</a>
    <br><br>
    <h3>App tasks as 'Code Lord'</h3>
    <li>Github master</li>
    <li>Database</li>
    <li>Models, views, templates</li>
    <li>App logo</li>
</ul>

<h2 class="dev-name">Dev Govindji</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/Dev-94">Dev-94</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/joe-gerhard/">Dev Govindji</a>
    <br><br>
    <h3>App Tasks as 'Scrum Jefe'</h3>
    <li>Trello board</li>
    <li>API Research</li>
    <li>README</li>
    <li>Content creator</li>
</ul>

<h2 class="dev-name">Frances Cancio</h2>
<ul class="detail narrow">
    <h3>Contact</h3>
    GitHub:  <a href="https://github.com/fcancio">fcancio</a><br>
    LinkedIn:  <a href="https://www.linkedin.com/in/francescancio/">Frances Cancio</a>
    <br><br>
    <h3>App tasks as 'Design Whisperer'</h3>
    <li>Pitch Deck</li>
    <li>CSS/Styling</li>
    <li>Content creator</li>
    <li>Team logo</li>
</ul>
{% endblock main %}