{% extends 'main_app/base.html' %}

{% block main %}
<h1>Create New Lib</h1>
<div class="detail narrow">
<form action="" method="POST">
{% csrf_token %}
{% for blank in template.blanks %}
    <div class="form">
        {{blank}}: <input type="text" name="blanks" required>
    </div>
{% endfor %}
<input type="hidden" name="text" value="{{template.text}}">
<input type="hidden" name="name" value="{{template.name}}">
</div>
<input type="submit" value="submit">
</form>
<a href="{% url 'madlib_new' %}">cancel</a>
{% endblock main %}
